html {
  font-family: Helvetica;
}

body {
  text-align: center;
}


h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
}

h4 {
  background-image: url("../images/the-flatiron-building.png");
  font-size: 23px;
  font-weight: bold;
  color: white;
}

p {
  font-size: 14px;
}

a {
  color: white;
}
.header {
  background-image: url("../images/the-flatiron-building.png");
  background-position: center;
  background-size: cover;
}

.footer {
  background-color: dimgray;
  text-align: left;
  font-size: 11px;
  color: white;
}

#menu {
  font-size: 18px;
  color: white;
  font-weight: bold;
  text-decoration: underline;
}
